<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <title>Student Union</title>
        <link rel='stylesheet' type='text/css' href="{% static " css/student-union.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static 'stylehome.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="img">
            <div class="container-fluid">
                <br><br>
                <div class="row">
                    <div class="col-md-12 col-sm-12 i1 w400 center">
                        <b>STUDENT UNION.</b>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-1 col-sm-1"></div>
                    <div class="col-md-3 col-sm-3 i2 w200 center">
                        <a href="{% url 'news:index' %}">news</a>
                    </div>
                    <div class="col-md-4 col-sm-4 i2 w200 center">
                        <a href="{% url 'events:event_list' %}">event</a>
                    </div>
                    <div class="col-md-3 col-sm-3 i2 w200 center">
                        <a href="{% url 'register_member:formsubmit' %}">register</a>
                    </div>
                    <div class="col-md-1 col-sm-1"></div>
                </div>
                <br><br><br><br><br><br><br><br>
                <div class="row">
                    <div class="col-md-3 col-sm-3"></div>
                    <div class="col-md-6 col-sm-6 i3 w500 ibox center">
                        learn today, lead tomorrow
                    </div>
                    <div class="col-md-3 col-sm-3"></div>
                </div>
                <div class="row">
                    <br><br><br><br><br><br><br><br><br><br><br><br>
                    <a href="logout">Log Out</a>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
    </body>

</html>