{%extends "base.html" %}
{% block title%}Sorry
{% endblock %}
{% block content %}
    {%load static %}
    <body>
        <div class="container-fluid text-center">
            <br><br><br><br>
            <h1 class="text-center text-black">Whoops! You already registered</h1>
            <a href="{% url 'events:event_list'%}">Click here to return</a>
        </div>
    </body>

{% endblock %}