{%extends "base.html" %}
{% block title%}Book :
    {{ event.title }}
{% endblock %}
{% block content %}
    {%load static %}
    <body>
        <div class="container-fluid">
            <br><br><br><br><br><br><br>
            <div class="row">
                <div class="col-md-4 col-sm-12 p1 w500 center">
                    BOOK EVENT :
                    {{ event.title }}
                </div>
                <div class="col-md-8"></div>
            </div>
            <br><br><br><br><br>
            <div class="text-center">
                <h2>Hi
                    {{ user.first_name}}! Are you sure you want to book to
                    {{ event.title }}?</h2>
                <a href="{% url 'register_event:thankyou' event.pk %}" class="btn btn-default p4 text-black">Yes</a>
                <a href="{% url 'events:event_list' %}" class="btn btn-default p4 text-black">No</a>
            </div>

        </div>
    </body>

{% endblock %}