{%extends "base.html" %}
{%load static %}
{% block content %}
    
    {% block title %} Daftar Member {% endblock %}
    
    
    <table class="table">
        <thead>
            <th>User Name</th>
        </thead>
        <tbody>
            {% for i in daftar_user %}
            <tr>
                <td> {{i.username}} </td>
            </tr>             
            {% endfor %}
        </tbody>
    </table>
    </form>
    
 


</body>
</body>
{% endblock %}