{%extends "base.html" %}
{%load static %}
{% block title%}Register{% endblock %}
{% block content %}

    <body>
        <div class="row">
            <div>
                <br><br><br><br>
                <h1>Register Member</h1>
            </div>
        </div>
        <div id="inner" style="width:100%;">
            <br>
            <section name="form">
                <form id="form" method="POST" action="{% url 'register_member:formsubmit' %}">
                    {% csrf_token %}
                    <p>
                        Nama :
                        {{ message_form.nama }}
                    </p>
                    <p>
                        Username :
                        {{ message_form.username }}
                    </p>
                    <p>
                        Email :
                        {{ message_form.email }}
                    </p>
                    <p>
                        Tanggal Lahir :
                        {{ message_form.tglLahir }}
                    </p>
                    <p>
                        Password :
                        {{ message_form.password }}
                    </p>
                    <p>
                        Alamat :
                        {{ message_form.alamat }}
                    </p>
                    <br>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </section>
            <br><br>
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-default">Login with google</a>
            {# <button type="submit" class="btn btn-default"><a href="{% url 'social:begin' 'google-oauth2' %}">Login with google</a></button> #}

        </div>

    </body>
</body>
{% endblock %}