{%extends "base.html" %}
{% block title%}Thankyou For Registering{% endblock %}
{% block content %}
    {%load static %}

    <body>
        <div class="container-fluid">
            <br><br><br><br><br><br><br><br><br><br>
            <div class="row">
                <div class="col-md-4 col-sm-4 box1"></div>
                <div class="col-md-8 col-sm-8"></div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 box2">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <br><br><br><br><br>
                            <div class="p5 w500 center">THANK YOU</div>
                            <div class="p4 w100 center">for register</div>
                            <div class="col-md-4 col-sm-4"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-8"></div>
                <div class="col-md-4 col-sm-4 box1"></div>
            </div>
        </div>
    </body>
{% endblock %}