body {
    padding: 0% 5% 5% 5%;
    font-family: 'Montserrat';
}

.bg-blue {
    background-color: #CDDFE6;
}

.event {
    padding: 3rem 3rem 3rem 3rem;
}

.container{
    padding-top:5rem;
}

.padding-top-10{
    padding-top: 3rem;
}

.text-black{
    color : #000000;
}

#p1 {
    font-family: 'Montserrat';
    font-size: 36px;
    letter-spacing: 4px;
    text-shadow: 2px 2px #9dbac6;
}
