{% extends "base.html" %}
{% load static %}
{% block css %}<link rel='stylesheet' type='text/css' href="{% static "css/registeredEvent.css" %}">{% endblock %}
{% block title%}Registered Event{% endblock %}
{% block javascript %}<script type="text/javascript" src="{% static "js/registeredEvent.js" %}"></script>{% endblock %}
{% block content %}
    <div class="container">
    	<br>
    	<br>
    	<h1 id="p1" class="p1 w500 text-center">Total of Registered Events: {{ eventNum }}</h1>
        <br>
    	<div class="rounded bg-blue">
    	    <h1 id="p1" class="p1 w500 text-center">LIST EVENT</h1>
            <br>
            {% if eventNum == 0 %}
                <div class="text-center s1 no-event">You are not registered in any events</div>
            {% else %}
                <div id="registeredEventTable">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-center">
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Event Name</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody class="text-center" id="eventlist">
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}