.navbar {
	background-color: #FFFFFF;
	padding: 0;
}

.nav-link {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 28px;
	text-align: center;
	letter-spacing: 0.15em;
	color: #000000;
}