{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <br><br><br>
    <div class="row text-center">
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-6 col-sm-6">
            <p class="p1" style="font-size: 56px;"><b>ABOUT</b></p>
            <hr>
        </div>
        <div class="col-md-3 col-sm-3"></div>
    </div>

    {% if user.is_authenticated %}
    <div class="row text-center">
        <div class="col-md-12 col-sm-12">
            <p class="p4">leave your testimonials here</p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-2 col-sm-2"></div>
        <div class="col-md-8 col-sm-8">
            <section name="form">
                <br><br>
                <form id="post-form" method="POST" action="{% url 'about:post' %}">
                    {% csrf_token %}
                    {% for a in form %}
                    <div class="p3">{{ a }}</div>
                    {% endfor %}
                    <button type="submit" class="btn btn-default box p4" id="submit" action="{% url 'about:post' %}">submit</button>
                </form>
            </section>
        </div>
        <div class="col-md-2 col-sm-2"></div>
    </div>

    {% else %}
    <br><br><br><br><br><br>
    <div class="row text-center">
        <div class="col-md-2 col-sm-2"></div>
        <div class="col-md-8 col-sm-8">
            <div class="p4">You must login to write a testimonial!</div>
        </div>
        <div class="col-md-2 col-sm-2"></div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-md-12 col-sm-12">
            <a href="{% url 'social:begin' 'google-oauth2' %}">
                <button type="submit" class="btn btn-default box p4" id="submit">Login with google</button>
            </a>
        </div>
    </div>
    {% endif %}

    <div class="row p4">
        <div class="col-md-2 col-sm-2"></div>
        <div class="col-md-8 col-sm-8">
            <br><br><br><br>
            <p class="p2 center w400"><i>T E S T I M O N I A L S</i></p>
            <div id="result" style="font-size: 15px;">
                {% if testimonials %}
                    {% for data in testimonials %}
                        <div style="text-align: center"> {{data.name}}, {{data.date}} </div>
                        <div class="center" style="font-size: 25px;"> "{{data.testimonial}}" </div>
                        <br>
                    {%endfor%}
            {%else%}
                <div id="elseresult" class="p4 center">no testimonials :(</div>
            {%endif%}

        </div>
    </div>
</div>

<script>
    // Submit post on submit
    $('#post-form').on('submit', function (event) {
        event.preventDefault();
        console.log("form submitted")
        create_post();
    });

    function create_post() {
        console.log("create post is working")
        $.ajax({
            url: "post/",
            type: "POST",
            async: true,
            data: {
                'csrfmiddlewaretoken': "{{ csrf_token }}",
                the_post: $('#post-text').val()
            },

            success: function (json) {
                console.log($('#post-text').val())
                $('#post-text').val('');
                console.log(json.testimonial);
                console.log("success");
                $("#elseresult").html("");
                $("#result").append("<div class='center'>" + json.name + ", " + json.time + "</div>" +
                    "<div class='center' style='font-size: 25px;'>" + "\"" + json.testimonial + "\"" + "</div><br>");

                console.log("masuk sini");
            },

            error: function (xhr, errmsg, err) {
                $('#post-text').val('');
                console.log("something wrong happened");
            }
        });
    };
</script>

{% endblock %}
