body {
    padding: 0% 5% 5% 5%;
}

p {
	margin: 0;
}

.s1 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	text-align: justify;
	letter-spacing: 0.1em;
	color: #000000;
}

.container {
	padding-top: 50px;
}

.bg-blue {
    background-color: #CDDFE6;
	padding: 5% 8% 5% 8%;
}

#news-title {
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.15em;
	margin-bottom: 3%;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#news-box {
	display: block;
	padding: 2% 2% 2% 2%;
	margin-bottom: 3%;
}

.news-article h3 {
	text-align: center;
	margin-bottom: 3%;
}

.news-article h6 {
	margin-bottom: 3%;
}

.btn-default {
	background-color: #FFFFFF !important;
	border-radius: 0px;
    border: 1.5px solid #000000;
    margin: 0;
    box-shadow: 5px 5px #18314F;
}

.soon {
	text-align: center;
}

@media screen and (min-width: 992px) {
    .soon {
    	font-size: 30px;
    }
    #news-box h3 {
    	font-size: 30px;
    }
    #news-title {
    	font-size: 36px;
    }
    .news-article h6, p {
    	font-size: 26px;
    }
     .news-article h3 {
    	font-size: 36px;
    }
    #news-box h6, p {
    	font-size: 26px;
    }
}

@media screen and (max-width: 991px) {
    .soon {
    	font-size: 18px;
    }
    #news-box h3 {
    	font-size: 18px;
    }
    #news-title {
    	font-size: 20px;
    }
    .news-article h6, p {
    	font-size: 15px;
    }
    .news-article h3 {
    	font-size: 20px;
    }
    #news-box h6, p {
    	font-size: 15px;
    }
    .btn-default {
    	padding: 1% 2.5%;
    }
}