{% extends "base.html" %}
{% load static %}
{% block title%}Events List{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center  p1 w500">Events</h1>
        <br>
        <div class="bg-blue event ">
            {% for event in events %}
                <div class="row bg-light rounded">
                    <div class="col-sm-10">
                        <h3 class=" p1 w500">{{ event.event.title }}</h3>
                        <h6 class="lead">{{ event.event.date.date }}</h6>
                        <p class="text-justify font-weight-light lead">{{ event.event.description|truncatewords:50  }}</p>
                    </div>
                    <div class="col-sm-2 text-center  padding-top-10">
                        <br><br>
                        {% if user.is_authenticated %}
                            {% if event.is_participate %}
                                <button type="button" disabled="disabled" name="button" class="btn btn-default p6 text-black">Registered</button>
                            {% else %}
                                <a href="{% url 'register_event:register_event' event.event.pk %}" class="btn btn-default p4 text-black">+ Book</a><br>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'register_member:formsubmit' %}" class="btn btn-default p4 text-black">Login</a><br>
                            <small>Login first before book</small>
                        {% endif %}
                        <br>
                        <a href="{% url 'events:participant_list' event.event.pk %}" class="btn btn-default p4 text-black">Details</a>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}