{% extends "base.html" %}
{% load static %}

{% block title%}Details :
    {{ event.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <br><br>
        <div class="rounded bg-blue">
            <h1 id="p1" class="p1 w500">{{ event.title }}</h1>
            <article class="text-justify">{{ event.description }}</article>
        </div>
        <br><br><br>
        <div class="rounded bg-blue">
            <h3 id="p1" class="p1 w500">DAFTAR PESERTA</h3>
            {% if event.participants.all.count == 0 %}
                Belum ada Peserta
            {% else %}
                <div class="row">
                    {% for participant in event.participants.all %}
                        <div class="col-sm-3 text-center">
                            {{ forloop.counter }}.
                            {{ participant.user }}
                            <br>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}