.p1 {
    font-family: 'Montserrat';
    font-size: 36px;
    letter-spacing: 4px;
    text-shadow: 2px 2px #CDDFE6;
}
.p2 {
    font-family: 'Montserrat';
    font-size: 28px;
    letter-spacing: 4px;
}

@media screen and (min-width: 992px) {
    .p2 {
    font-size: 28px;
    }
}

@media screen and (max-width: 991px) {
    .p2 {
    font-size: 20px;
    }
}

.p3 {
    font-family: 'Montserrat';
    font-size: 32px;
    letter-spacing: 3px;
}

.p4 {
    font-family: 'Montserrat';
    font-size: 22px;
    letter-spacing: 3px;
}

.p5 {
    font-family: 'Montserrat';
    font-size: 40px;
    letter-spacing: 3px;
}

.p6 {
    font-family: 'Montserrat';
    font-size: 20px;
    letter-spacing: 2px;
}

.box{
    width: 350px;
    padding: 10px;
    border: 2px solid #121212;
    margin: 0;
    box-shadow: 10px 8px #18314F;
}

.box1 {
    padding: 10px;
    background-color: #18314F;
    margin: 0;
}

.box2 {
    height: 326px;
    padding: 10px;
    background-color: #CDDFE6;
    margin: 0;
}

.blue{
    color: #CDDFE6;
}

.normal {font-weight: normal;}

.w100 {font-weight: 100;}

.w200 {font-weight: 200;}

.w300 {font-weight: 300;}

.w400 {font-weight: 400;}

.w500 {font-weight: 500;}

.center {text-align: center;}

input[type=text], select, textarea {
    width: 75%;
    background-color: #CDDFE6;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    resize: vertical;
    border: white;
}

input[type=password], select, textarea {
    width: 75%;
    background-color: #CDDFE6;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    resize: vertical;
    border: white;
}

input[type=email], select, textarea {
    width: 75%;
    background-color: #CDDFE6;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    resize: vertical;
    border: white;
}

input[type=submit] {
    border-radius: 0px;
    width: 350px;
    padding: 10px;
    border: 2px solid #121212;
    margin: 0;
    box-shadow: 10px 8px #18314F;
    cursor: pointer;
}

@media (min-width: 992px) {
    .text-md-left { text-align: left; }
}
