<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link rel='stylesheet' type='text/css' href="{% static "css/student-union.css" %}">
		<link rel='stylesheet' type='text/css' href="{% static "css/style.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		<link rel='stylesheet' type='text/css' href="{% static "css/news.css" %}">
		{% block css %}{% endblock %}
		<title>
			{% block title%}{% endblock %}
		</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		{% block javascript %}{% endblock %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-sm navbar-light fixed-top">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="{% url 'home:indexlogin' %}">home</a>
					<a class="nav-item nav-link" href="{% url 'news:index' %}">news</a>
					<a class="nav-item nav-link" href="{% url 'events:event_list' %}">events</a>
					<a class="nav-item nav-link" href="{% url 'about:testimonials' %}">about</a>
					{% if user.is_authenticated %}
						<a class="nav-item nav-link" href="{% url 'registeredEvent:index' %}">my events</a>
						<a class="nav-item nav-link" href="{% url 'logout' %}">logout</a>
					{% else %}
						<a class="nav-item nav-link" href="{% url 'register_member:formsubmit' %}">sign up</a>
					{% endif %}
				</div>
			</div>
		</nav>
		{% block content %}{% endblock %}
	</body>
</html>