{% extends 'base.html' %}

{% block title%}News List{% endblock %}
{% block content %}
	<div class="container">
		<div class="text-center s1" id="news-title">NEWS</div>
			<div class="bg-blue news">
				{% if newslist %}
					{% for n in newslist %}
						<div class="row s1 bg-light rounded" id="news-box">
							<h3>{{ n.title }}</h3>
							<h6>{{ n.date }}</h6>
							<p>{{ n.content|truncatewords:50 }}</p>
							<button class="btn btn-default s1"><a href="/news/view_news?id={{n.pk}}">read more</a></button>
						</div>
					{% endfor %}
				{% else %}
					<div class="soon s1">COMING SOON</div>
				{% endif %}
			</div>
		</div>
{% endblock %}