{% extends 'base.html' %}

{% block title%}Details :
	{{ news.title }}
{% endblock %}
{% block content %}
	<div class="container">
		{% if news %}
			<div class="news-article s1">
				<h3>{{ news.title }}</h3>
				<h6>{{ news.date }}</h6>
				<p>{{ news.content }}</p>
			</div>
		{% endif %}
	</div>
{% endblock %}